/*html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }
  

  .map-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.map-container {
    flex-grow: 1;
}
.autocomplete-container {
  position: relative;
  width: 100%; 
  z-index: 1000;
}


#place-search {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; 
}


.autocomplete-results {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute; 
  top: 100%;  
  left: 0;  
  width: 100%; 
  background: #fff;
}

.result-item {
  padding: 10px;
  cursor: pointer;
}

.result-item:hover {
  background: #f5f5f5;
}*/

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}

.map-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-container {
  flex-grow: 1;
}

.autocomplete-container {
position: relative;
width: 100%; 
z-index: 1000;
padding: 10px;
background: rgba(255,255,255,0.8);
border-bottom: 5px solid rainbow;
}

#place-search {
width: 100%;
padding: 10px;
box-sizing: border-box;
border-radius: 4px; 
border: 2px solid #D60076;
transition: border-color 0.3s;
}

#place-search:focus {
border-color: #FFC500;
}

.autocomplete-results {
border: 1px solid #D60076;
max-height: 150px;
overflow-y: auto;
position: absolute; 
top: 100%;  
left: 0;  
width: 100%; 
background: #fff;
}

.result-item {
padding: 10px;
cursor: pointer;
}

.result-item:hover {
background: #FFC500;
}

@media (max-width: 768px) {
.autocomplete-container {
  padding: 5px;
}
}


